.landing{
  // position: fixed;
  top: 2.5%;
  width:80%;
  height: 100%;
  margin: 1.5vw;
  padding: .5vw;
  background: lightblue;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  box-shadow: .25vw .25vw .25vw #555;
  border-radius: .5vw;
  // box-sha
}

// form{
//   padding: .5vw;
// }

// input, button, select{
//   margin: 1vw;
//   padding: .5vw;
//   font-family: ‘Marker Felt’, ‘Comic Sans’ sans-serif;
//   font-size: 13pt;
// }
