.category-form > button, .category-form > input, .category-form > select {
  margin: .5vw;
  padding: .25vw;
  font-size: 16px;

  font-family: Arial, Helvetica, sans-serif;
}

.category-form {
  width: 100%;
}